# Python
__pycache__/
services/__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
.eggs/
.Python

# Virtual env
venv/

# VS Code
.vscode/

# OS files
.DS_Store

# Env secrets
.env
*.zip
frontend_old/
chromadb_data/*
chromadb_data/
chromadb_data
node_modules/
chromadb_data/chroma.sqlite3
